{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="translateSection">
    <div id="translateForm">
        {% csrf_token %}
        <div class="translateSelect">
            <div class="translateSelect__select">
                <div class="translateSelect__select__container container__lt">
                    <button class="translateSelect__select__btn select__lt" name="orig_lang">
                        English
                        <i class="gg-chevron-down"></i>
                    </button>
                    <div class="translateSelect__select__lang lang_lt">
                        <ul>
                            <li class="translateSelect__select__lang--option">Korean</li>
                            <li class="translateSelect__select__lang--option">English</li>
                            <li class="translateSelect__select__lang--option">Japanese</li>
                            <li class="translateSelect__select__lang--option">Chinese</li>
                            <li class="translateSelect__select__lang--option">Spanish</li>
                        </ul>
                        <ul>
                            <li class="translateSelect__select__lang--option">French</li>
                            <li class="translateSelect__select__lang--option">German</li>
                            <li class="translateSelect__select__lang--option">Italian</li>
                            <li class="translateSelect__select__lang--option">Portuguese</li>
                            <li class="translateSelect__select__lang--option">Russian</li>
                        </ul>
                    </div>
                </div>
                <button id="langBtn" type="button">
                    <i class="gg-arrows-exchange"></i>
                </button>
            </div>
            <div class="translateSelect__textarea">
                <textarea class="translateSelect__textarea__input" onkeydown="textareaResize(this)" 
                    placeholder="번역할 텍스트를 입력해주세요."
                    name="text" rows="9" maxlength="2000"></textarea>
                    <p class="translateSelect__textarea__limit">
                        <span class="translateSelect__textarea__limit--num">0</span><span>&nbsp;/ 2,000</span>
                    </p>
                <div class="translateSelect__button">
                    <button id="translateBtn" type="button">번역</button>
                </div>
            </div>
        </div>
        <div class="translateSelect">
            <div class="translateSelect__select">
                <div class="translateSelect__select__container container__rt">
                    <button class="translateSelect__select__btn select__rt" name="target_lang">
                        Korean
                        <i class="gg-chevron-down"></i>
                    </button>
                    <div class="translateSelect__select__lang lang_rt">
                        <ul>
                            <li class="translateSelect__select__lang--option">Korean</li>
                            <li class="translateSelect__select__lang--option">English</li>
                            <li class="translateSelect__select__lang--option">Japanese</li>
                            <li class="translateSelect__select__lang--option">Chinese</li>
                            <li class="translateSelect__select__lang--option">Spanish</li>
                        </ul>
                        <ul>
                            <li class="translateSelect__select__lang--option">French</li>
                            <li class="translateSelect__select__lang--option">German</li>
                            <li class="translateSelect__select__lang--option">Italian</li>
                            <li class="translateSelect__select__lang--option">Portuguese</li>
                            <li class="translateSelect__select__lang--option">Russian</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="translateSelect__area">
                <div style="margin-top: 10px;"></div>
                <pre id="result"></pre>
            </div>
            <div class="sectionBottom"></div>
        </div>
    </div>
    <aside>
        <!-- 광고 -->
    </aside>
</section>
<script src="{% static 'js/translate.js' %}"></script>
<script>
    // textarea js
    
    const textareaResize = (event) => {
        let scrollTop = event.scrollTop
        event.style.height = 'auto';
        event.style.height = (event.scrollHeight) + 'px';
        event.scrollTop = scrollTop
    }
</script>
{% endblock %}