{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="translateSection">
    <div id="translateForm">
        {% csrf_token %}
        <div class="translateSelect">
            <div class="translateSelect__select">
                <div class="translateSelect__select__container">
                    <button class="translateSelect__select__btn select__lt" name="orig_lang">
                        <span>English</span>
                        <i class="gg-chevron-down"></i>
                    </button>
                    <div class="translateSelect__select__lang lang_lt">
                        <ul>
                            <li class="translateSelect__select__lang--option">Korean</li>
                            <li class="translateSelect__select__lang--option">English</li>
                            <li class="translateSelect__select__lang--option">Japanese</li>
                            <li class="translateSelect__select__lang--option">Chinese</li>
                            <li class="translateSelect__select__lang--option">French</li>
                        </ul>
                        <ul>
                            <li class="translateSelect__select__lang--option">German</li>
                            <li class="translateSelect__select__lang--option">Italian</li>
                            <li class="translateSelect__select__lang--option">Portuguese</li>
                            <li class="translateSelect__select__lang--option">Russian</li>
                            <li class="translateSelect__select__lang--option">Polish</li>
                        </ul>
                    </div>
                </div>
                <button id="langBtn" type="button">
                    <i class="gg-arrows-exchange"></i>
                </button>
            </div>
            <div class="translateSelect__textarea">
                <textarea class="translateSelect__textarea__input" onkeyup="textareaResize(this)" 
                    placeholder="번역할 텍스트를 입력해주세요."
                    name="text" rows="9" maxlength="1000"></textarea>
                <div class="translateSelect__button">
                    <button id="translateBtn" type="button">번역</button>
                </div>
            </div>
        </div>
        <div class="translateSelect">
            <div class="translateSelect__select">
                <div class="translateSelect__select__container">
                    <button class="translateSelect__select__btn select__rt" name="target_lang">
                        <span>Korean</span>
                        <i class="gg-chevron-down"></i>
                    </button>
                    <div class="translateSelect__select__lang lang_rt">
                        <ul>
                            <li class="translateSelect__select__lang--option">Korean</li>
                            <li class="translateSelect__select__lang--option">English</li>
                            <li class="translateSelect__select__lang--option">Japanese</li>
                            <li class="translateSelect__select__lang--option">Chinese</li>
                            <li class="translateSelect__select__lang--option">French</li>
                        </ul>
                        <ul>
                            <li class="translateSelect__select__lang--option">German</li>
                            <li class="translateSelect__select__lang--option">Italian</li>
                            <li class="translateSelect__select__lang--option">Portuguese</li>
                            <li class="translateSelect__select__lang--option">Russian</li>
                            <li class="translateSelect__select__lang--option">Polish</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="translateSelect__area">
                <div style="margin-top: 10px;"></div>
                <p id="result"></p>
            </div>
            <div style="margin-bottom: 60px;">

            </div>
        </div>
    </div>
    <aside>
        <!-- 광고 -->
    </aside>
</section>
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrows-exchange.css' rel='stylesheet'>
<script src="{% static 'js/translate.js' %}"></script>
<script>
    const textareaResize = (event) => {
        event.style.height = 'auto';
        event.style.height = (16 + event.scrollHeight) + 'px';
    }
</script>
{% endblock %}